:root{
    --color: #baff5b
}

.nav-button:hover{
    background-color: var(--color);
}
.menu h2::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 5px;
    border-radius: 100px;
    background-color: var(--color);
    transition: all 0.3s ease-out;
}
.menu h2:hover::after{
    width: 100%;
}
.sidemenu h2::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 5px;
    border-radius: 100px;
    background-color: var(--color);
    transition: all 0.3s ease-out;
}
.sidemenu h2:hover::after{
    width: 100%;
}