*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
:root{
    --color: #baff5b
}

nav{
    width: 100vw;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}
.mingcute--menu-fill{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    column-gap: 40px;
    font-size: 0.7rem;
    font-weight: 400;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 110px;
}
.menu *{
    cursor: pointer;
    position: relative;
}
.menu button{
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-width: 3px;
}
.sidemenu{
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    width: 70vw;
    padding: 30px;
    row-gap: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    display: none;
    transform: translateX(70vw);
}
.sidemenu *{
    cursor: pointer;
    position: relative;
}
.sidemenu button{
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-width: 3px;
}

.maki--cross{
    align-self: flex-end;
}

